<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver Demo Suite">
    <test name="Selenium Web Automation tests">
        <classes>
            <class name="io.github.mfaisalkhatri.SeleniumDemoTests">
                <methods>
                    <include name="testOnChrome"/>
                    <include name="testOnFirefox"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Selenium Browser Management tests" >
        <classes>
            <class name="io.github.mfaisalkhatri.BrowserManagementTests">
                <methods>
                    <exclude name="testFirefoxVersion"/>
                    <include name="testChromeVersion"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
